
<app-navsettings></app-navsettings>

<div class="container grid grid-cols-12 md:gap-10 justify-between lg:mt-[220px]">
  <div class="col-span-12 lg:col-span-4 lg:h-screen lg:sticky top-44">
    <div class="w-full mb-6 lg:mb-0 mx-auto relative bg-white text-center dark:bg-[#111111] px-6 rounded-[20px] mt-[180px] md:mt-[220px] lg:mt-0 ">
      <app-profile></app-profile>
    </div>
  </div> 
  <div class="col-span-12 lg:col-span-8 ">
    <app-navigation></app-navigation>
  
  <div id="contenido" class="rounded-2xl lg:rounded-2xl bg-white dark:bg-[#111111]">

    <router-outlet></router-outlet>
  
    <footer class="overflow-hidden rounded-b-2xl bg-slate-50 dark:bg-[#1D1D1D]">
      <div class="container">
        <p class="text-center py-6 text-gray-lite dark:text-white "> © 2024 All Rights Reserved by <a class="hover:text-blue-500 duration-300 transition" href="https://www.linkedin.com/in/jhovany-quintana-66aaa0162/" target="_blank" rel="noopener noreferrer">Jhovany Quintana V</a>.</p>
      </div>
    </footer>
  </div>
</div>
</div>

