<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">{{contactMeTrad.title}}</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
        {{contactMeTrad.description}}
    </p>
    <form [formGroup]="contactForm" class="space-y-8" (ngSubmit)="sendEmail()">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{contactMeTrad.email}}</label>
            <input type="email" id="email" formControlName="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="example@email.com" required>
            <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" class="text-red-500 text-sm">Valid email is required.</div>
        </div>
        <div>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{contactMeTrad.subject}}</label>
            <input type="text" id="subject" formControlName="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="{{contactMeTrad.placeholderSubject}}" required>
            <div *ngIf="contactForm.controls['subject'].invalid && contactForm.controls['subject'].touched" class="text-red-500 text-sm">Subject is required.</div>
        </div>
        <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">{{contactMeTrad.msg}}</label>
            <textarea id="message" formControlName="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="{{contactMeTrad.placeholderMsg}}" required></textarea>
            <div *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched" class="text-red-500 text-sm">Message is required.</div>
        </div>
        <br>
        <ngx-recaptcha2 formControlName="recaptcha" [siteKey]="siteKey"></ngx-recaptcha2>
        <div *ngIf="contactForm.controls['recaptcha'].invalid && contactForm.controls['recaptcha'].touched" class="text-red-500 text-sm">Please complete the captcha.</div>
        <button 
            type="submit" 
            [disabled]="contactForm.invalid"
            [ngClass]="{'bg-blue-700': !contactForm.invalid, 'hover:bg-blue-400': !contactForm.invalid, 'bg-gray-400': contactForm.invalid, 'cursor-not-allowed': contactForm.invalid}"
            class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg sm:w-fit focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Send message
        </button>
    </form>
</div>
